@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code{
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
                                .WithUrl("https://localhost:7055/lorem_ipsum_notifications")
                                .Build();

        _hubConnection.On<LoremIpsum>("ReceivedNotification", message =>
        {
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }
}